# Email Dictionaires for Each Divison

In [14]:
div_a_scores_dictionary = {"student_names": ["Harsha", "Ashwini", "Rohit", "Mahir"],
                          "math_scores": [50,75,65,70],
                          "chemistry_scores": [80,75,90,65],
                          "information_technology_scores": [40,45,50,65],
                          "physics_scores": [86,64,55,45]}

In [15]:
div_b_scores_dictionary = {"student_names": ["Harshad", "Ashwin", "Rohini", "Melina"],
                          "math_scores": [80,65,95,50],
                          "chemistry_scores": [80,75,90,65],
                          "information_technology_scores": [60,55,60,65],
                          "physics_scores": [88,64,53,65]}

In [16]:
div_c_scores_dictionary = {"student_names": ["Sumit", "Tarak", "Param", "Satinder"],
                          "math_scores": [80,96,67,71],
                          "chemistry_scores": [89,79,98,67],
                          "information_technology_scores": [45,35,60,75],
                          "physics_scores": [89,77,56,75]}

# Email Dictionaires for Each Divison

In [64]:
div_a_emails_dictionary = {"student_names": ["Harsha", "Ashwini", "Rohit", "Mahir"],
                           "student_email": ["Harsha@gmail.com", "Ashwini@gmail.com", "Rohit@gmail.com", "Mahir@gmail.com"]
                          }

In [65]:
div_b_emails_dictionary = {"student_names": ["Harshad", "Ashwin", "Rohini", "Melina"],
                           "student_email": ["Harshad@gmail.com", "Ashwin@gmail.com", "Rohini@gmail.com", "Melina@gmail.com"]
                                             }

In [66]:
div_c_emails_dictionary = {"student_names": ["Sumit", "Tarak", "Param", "Satinder"],
                           "student_email": ["Sumit@gmail.com", "Tarak@gmail.com", "Param@gmail.com", "Satinder@gmail.com"]
                          }

# Get Scores Function

In [20]:
import pandas as pd

In [29]:
def get_scores_df(report_card_dictionary, division_name):
    
    #Convert the Dictionary into a DataFrame
    report_card_df = pd.DataFrame(report_card_dictionary)
    
    #Add the total score column
    report_card_df["total_score"] = report_card_df["math_scores"] + report_card_df["chemistry_scores"] + report_card_df["information_technology_scores"] + report_card_df["physics_scores"]
    report_card_df.head(5)
   
    #Add the Average score column
    report_card_df["average_score"] = report_card_df["total_score"]/4
    report_card_df.loc[report_card_df["average_score"]>=90, "character_grade"] = "A"
    report_card_df.loc[(report_card_df["average_score"]>=70)&(report_card_df["average_score"]<90), "character_grade"] = "B"
    report_card_df.loc[(report_card_df["average_score"]>=50)&(report_card_df["average_score"]<70), "character_grade"] = "C"
    report_card_df.loc[(report_card_df["average_score"]>=35)&(report_card_df["average_score"]<50), "character_grade"] = "D"
    report_card_df.loc[report_card_df["average_score"]<35,"character_grade"] = "F"
    
    
    #Add the pass fail column
    report_card_df.loc[report_card_df["total_score"]>=140, "status"] = "pass"
    report_card_df.loc[report_card_df["total_score"]<=140, "status"] = "fail"
    
    #Add the divison column
    report_card_df ["division"] = division_name
    
    #Return the report card dataframe
    return report_card_df

In [40]:
div_a_score_card = get_scores_df(div_a_scores_dictionary, "A")
div_a_score_card

,student_names,math_scores,chemistry_scores,information_technology_scores,physics_scores,total_score,average_score,character_grade,status,division
0,Harsha,50,80,40,86,256,64.00,C,pass,A
1,Ashwini,75,75,45,64,259,64.75,C,pass,A
2,Rohit,65,90,50,55,260,65.00,C,pass,A
3,Mahir,70,65,65,45,245,61.25,C,pass,A

# Get Emails DF Function

In [70]:
def get_emails_df(emails_dictionary, division_name):
    
    #converting our dictionary into a dataframe
    emails_df = pd.DataFrame(emails_dictionary)
    
    #add a division column to our emails dataframe
    emails_df["division"] = division_name
    
    #Convert all emails to lowercase 
    
    emails_df["student_email"] = emails_df["student_email"].str.lower()
     
    #Converting all emails into lowercase
    return emails_df

In [71]:
division_a_emails_df = get_emails_df(div_a_emails_dictionary, "A")
division_a_emails_df

  student_names      student_email division
0        Harsha   harsha@gmail.com        A
1       Ashwini  ashwini@gmail.com        A
2         Rohit    rohit@gmail.com        A
3         Mahir    mahir@gmail.com        A

In [72]:
division_b_emails_df = get_emails_df(div_a_emails_dictionary, "B")
division_b_emails_df

  student_names      student_email division
0        Harsha   harsha@gmail.com        B
1       Ashwini  ashwini@gmail.com        B
2         Rohit    rohit@gmail.com        B
3         Mahir    mahir@gmail.com        B

In [73]:
division_c_emails_df = get_emails_df(div_a_emails_dictionary, "C")
division_c_emails_df

  student_names      student_email division
0        Harsha   harsha@gmail.com        C
1       Ashwini  ashwini@gmail.com        C
2         Rohit    rohit@gmail.com        C
3         Mahir    mahir@gmail.com        C

# Get Scores and Emails DF Function

In [81]:
def get_scores_emails_df(scores_dictionary, emails_dictionary, division_name):
    
    #Step 1: Make the scores dictionary into a scorecard dataframe
    score_card_df = get_scores_df(scores_dictionary, division_name)
    
    #Step 2: Make the emails dictionary into a emails dataframe.
    emails_df = get_emails_df(emails_dictionary, division_name)
    
    #Step 3: Merge the scores dataframe with the emails dataframe
    score_card_email_df = pd.merge(score_card_df, emails_df, how = "left", on = ["student_names", "division"])
    
    return score_card_email_df

In [82]:
get_scores_emails_df(div_a_scores_dictionary, div_a_emails_dictionary, "A")

,student_names,math_scores,chemistry_scores,information_technology_scores,physics_scores,total_score,average_score,character_grade,status,division,student_email
0,Harsha,50,80,40,86,256,64.00,C,pass,A,harsha@gmail.com
1,Ashwini,75,75,45,64,259,64.75,C,pass,A,ashwini@gmail.com
2,Rohit,65,90,50,55,260,65.00,C,pass,A,rohit@gmail.com
3,Mahir,70,65,65,45,245,61.25,C,pass,A,mahir@gmail.com

# Get All Divisions DF Function

In [83]:
def get_all_divisions_df(div_1_scores_dictionary, div_1_emails_dictionary, div_1_name,
                         div_2_scores_dictionary, div_2_emails_dictionary, div_2_name,
                         div_3_scores_dictionary, div_3_emails_dictionary, div_3_name):
    
    div_1_df = get_scores__emails_df(div_1_scores_dictionary, div_1_emails_dictionary, div_1_name)
    div_2_df = get_scores__emails_df(div_2_scores_dictionary, div_2_emails_dictionary, div_2_name)
    div_3_df = get_scores__emails_df(div_3_scores_dictionary, div_3_emails_dictionary, div_3_name)
    
    all_div_df = pd.concat([div_1_df, div_2_df, div_3_df], ignore_index=True)
    
    return all_div_df

In [84]:
get_all_divisions_df(div_a_score_dictionary, div_a_email_dictionary, "A",
                     div_a_score_dictionary, div_a_email_dictionary, "B",
                     div_a_score_dictionary, div_a_email_dictionary, "C")

NameError: name 'div_a_score_dictionary' is not defined

# Save All Div Insights Function

In [86]:
def save_all_div_insights_df(div_1_scores_dictionary, div_1_emails_dictionary, div_1_name,
                             div_2_scores_dictionary, div_2_emails_dictionary, div_2_name,
                             div_3_scores_dictionary, div_3_emails_dictionary, div_3_name:
                             
    div_1_df = get_scores__emails_df(div_1_scores_dictionary, div_1_emails_dictionary, div_1_name)
    div_2_df = get_scores__emails_df(div_2_scores_dictionary, div_2_emails_dictionary, div_2_name)
    div_3_df = get_scores__emails_df(div_3_scores_dictionary, div_3_emails_dictionary, div_3_name)
                             
    all_div_df = pd.concat([div_1_df, div_2_df, div_3_df], ignore_index=True)
                             
    insights_df = all_div_df.describe()
                             
    insights_df.to_cav("All Division Insights.csv")

SyntaxError: invalid syntax (<ipython-input-86-4c29255829a4>, line 6)

In [87]:
save_all_div_insights_df(div_a_score_dictionary, div_a_email_dictionary, "A",
                         div_a_score_dictionary, div_a_email_dictionary, "B",
                         div_a_score_dictionary, div_a_email_dictionary, "C")

NameError: name 'save_all_div_insights_df' is not defined